img {
    max-width: 100%;
}

.headerInfo {
    text-align: right;
}
#separator {
    border-top: 4px solid #7d97ad;
}
#headerName {
    font-weight: 100;
    text-transform: uppercase;
}
#headerJob {
    font-weight: 100;
    text-transform: uppercase;
}
.headerImage {
    margin-top: 1%;
    display: block;
}
.headerInfo {
    margin-top: 10px;
}
.footer {
    text-align: center;
}
#mainImage {
    max-width: 100%;
}



@media only screen and (max-width: 991px) {
  .headerInfo {
    text-align: center;
  }

  .headerImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}


@media only screen and (max-width: 480px) {
  #headerName {
    text-align: center;
  }
  #headerJob {
      text-align: center;
  }
  .headerImage {
      margin-left: auto;
      margin-right: auto;
  }
  
}